.no-margin {
    margin: 0px
}

body {
    height: 100%;
}

.pl-body {
    height: 91%;
    display: flex;
    flex-wrap: wrap;
}

.pl-list {
    width: 40%;
    overflow: auto;
}
.pl-tracks {
    width: 60%;
    overflow: auto;
}

.devices-body {
    height: 91%;
    display: flex;
    flex-wrap: wrap;
}

.devices {
    width: 40%;
}

.playback {
    width: 50%;
}

::-webkit-scrollbar {
    display: none;
}