.no-margin {
    margin: 0px
}

body {
    height: 100%;
}

.pl-body {
    height: 91%;
    display: flex;
    flex-wrap: wrap;
}

.pl-list {
    width: 40%;
    overflow: auto;
}
.pl-tracks {
    width: 60%;
    overflow: auto;
}

.devices-body {
    height: 91%;
    display: flex;
    flex-wrap: wrap;
}

.devices {
    width: 40%;
}

.playback {
    width: 50%;
}

::-webkit-scrollbar {
    display: none;
}

.small {
    width: 8px !important;
    height: 8px !important;
}

.progressSlider {
    width: 89%;
    margin-left: 10px;
    margin-right: 10px;
}

.progressContainer {
    display: flex;
}

.progressTimer {
    margin-top: 24px;
    margin-left: 10px;
}
.durationTimer {
    margin-top: 24px;
    margin-left: 5px;
}